.ecommerce {
    &__img {
        max-width: 100%;
        display: block;
        margin: 2.5rem auto 0 auto;
        @include atSmall {
            margin: 1.875rem auto 0 auto;
        }
    }
    &__beneficios {
        margin-top: 3.333rem;
        @include atSmall {
            margin-top: 2.5rem;
        }
        &--alt {
            margin-top: 0;
            padding: 0;
        }
        &-img {
            display: block;
            max-width: 100%;
            margin: 0 auto 2rem auto;
        }
        &-list {
            &__group {
                @include atSmall {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                }
                & + & {
                    margin-top: 3.333rem;
                    @include atSmall {
                        margin-top: 2.5rem;
                    }
                }
            }
            &__item {
                text-align: center;
                @include atSmall {
                    text-align: left;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 50%;
                }
                &--alt {
                    @include atSmall {
                        display: block;
                    }
                }
                & + & {
                    margin-top: 3.333rem;
                    @include atSmall {
                        margin-top: 0;
                    }
                }
                &-icon-wrapper {
                    margin: 0 auto 1rem auto;
                    @include atSmall {
                        margin: 0 1.25rem 0 0;
                    }
                    &--alt {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;
                        @include atSmall {
                            justify-content: flex-start;
                        }
                    }
                }
                &-title {
                    color: $brand;
                    text-transform: uppercase;
                    font-size: 1.667rem;
                    line-height: 2.0833rem;
                    font-family: $main-smb;
                    margin-left : 10px;
                    transform: translateY(2px);
                    @include atSmall {
                        font-size: 1.25rem;
                        line-height: 1.5625rem;
                    }
                }
                &-text {
                    font-family: $main-lgt;
                    color: $text;
                    font-size: 1.5rem;
                    line-height: 2.0833rem;
                    width: 70%;
                    margin: 0 auto;
                    @include atSmall {
                        font-size: 1.125rem;
                        line-height: 1.5625rem;
                        margin: 0;
                        width: 60%;
                    }
                    &--full {
                        width: 80%;
                    }
                    &--dark {
                        color: $black;
                    }
                }
            }
        }
    }
}