.video {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all .25s;
    opacity: 0;
    &--active {
        pointer-events: all;
        opacity: 1;
        &:before {
            opacity: 1 !important;
        }
        .video__wrapper {
            opacity: 1;
            transform: none;
        }
    }
    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        opacity: 0;
        transition: all .25s;
    }
    &__content {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__wrapper {
        position: relative;
        top: 0;
        left: 0;
        height: auto;
        width: 90%;
        opacity: 0;
        transform: translateY(-10%);
        transition: all .25s;
        @include atSmall {
            width: 50%;
        }
    }
}